{
  "mcpServers": {
    "TestSprite": {
      "command": "npx @testsprite/testsprite-mcp@latest",
      "env": {
        "API_KEY": "PASTE_TESTSPRITE_API_KEY_HERE"
      },
      "args": []
    },
    "apify": {
      "url": "https://mcp.apify.com/?tools=actors,docs,experimental",
      "headers": {
        "Authorization": "Bearer PASTE_APIFY_TOKEN_FULL_STRING_HERE"
      }
    }
  }
}
